@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #00c382, #4654f6, #d75fff);
}

.centered {
    background-color: #f2f2f2;
    padding: .3em 1em;
    border-radius: 1.5em;
    max-width: 420px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1, h3 {
    color: #ff0241;
    font-family: "Madimi One", sans-serif;
}

.centered form {
    display: flex;
    justify-content: space-between;
    margin: 1.25em 0;
    gap: 0.5em;
}

form input {
    padding: 0;
    height: 36px;
}

form select,
form button {
    font-size: 1em;
    border-radius: .25em;
    box-shadow: 4px 4px 10px rgba(34, 57, 49, 0.2);
}

form button {
    background-color: transparent;
    border: 1px solid #223931;
    cursor: pointer;
}

form button:hover {
    background-color: #f2f2f2;
}

.colors-container {
    display: flex;
    gap: 0.1em;
}

.color {
    flex-basis: 70px;
    flex-grow: 1;
    text-align: center;
    cursor: copy;
}

.colored-div {
    height: 240px;
    background-color: #ff0241;
}

.color-code p {
    font-size: .75rem;
}

#copy-notify {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    background-color: #f2f2f2;
    padding: 0 2em;
    border-radius: .75em;
    color: #027d54;
    background-color: #caffed;
    border: 2px solid #027d54;
    transition: all 0.3s ease;
}

#copy-notify.active {
    top: 1em;
}

@media (max-width: 480px) {
    .centered {
        height: 70%;
        width: 100vw;
        border-radius: 0;
        padding: 2rem;
        display: flex;
        align-items: center;
    }
}